<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>上传文章缩略图</title>
    <!-- Bootstrap Core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 


</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">上传缩略图</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="../../config/upload.php" id="uploadForm" enctype="multipart/form-data">
                          <div class="form-group">
						    <label for="exampleInputFile">File input</label>
						    <input type="hidden" name="MAX_FILE_SIZE" value="204800"/>
                             <input type="file" id="exampleInputFile" name="thumbnail" />
						    <p class="help-block">Example block-level help text here.</p>
						    </div>          
                           <input type="submit" name="send" class="btn btn-lg btn-success btn-block" value="上传"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
